#analyzeButton{
	border-radius: 1rem;
	font-size: 2rem;
	background-color: yellow;
	color: white;
	width: 50%;
	height: 150px;
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
	
}
#restart{
	background-color: grey;
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: center;
}
#errorWindow{
	border: 3px solid red;
	width: 100px;
	height: 60px;
	text-align: center;
}