#analyzeButton{
	border-radius: 1rem;
	font-size: 2rem;
	background-color: yellow;
	color: white;
	width: 50%;
	height: 150px;
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
	
}
#buttons{
	position: relative;
	width: 960px;
	margin: 0 auto;
}
#restart{
	background-color: grey;
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: center;
	display: inline-block;
}
#conversionButton{
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: center;
	display: inline-block;
}
#errorWindow{
	border: 3px solid red;
	width: 100px;
	height: 60px;
	text-align: center;
	margin: 1rem;
}
